body {
    background-color: rgb(255, 240, 212);
    margin: 10px 30px;
    font-size: 22px;
    line-height: 1.6;
    color: #333;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 40px 0;
}

table.navigation {
    width: 100%;
    background-color: rgba(85, 60, 40, 0.792);
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table.navigation, th, td {
    border: 2px solid #000000;
}

th, td {
    padding: 10px;
    text-align: left;
    font-size: 1em;
}

th {
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #e6e27e;
}

.center-container {
    text-align: center;
}

.center-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

section {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 1em;
}

body .ui.inverted.menu + div h1 {
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

h3, h4 {
    font-size: 120%;
}
